.users {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userPreview {
    display: flex;
    flex-direction: column;
}

.selectedPage {
    font-weight: bold;
}

.pageNumbers {
    padding: 20px;
}