.myPosts {
    padding: 10px;
}

.myPosts button {
    background-color: rgb(22, 25, 42);
    color: white;
}

.myPosts button:hover {
    background-color: rgb(240, 104, 107);
    border-color: rgb(240, 104, 107);
    color: white;
}

.myPosts input {
    width: 99%;
    height: 30px;
    padding-left: 5px;
}

.posts {
    margin-top: 20px;
}